<ifmodule mod_rewrite.c>
 
    <ifmodule mod_negotiation.c>
        Options -MultiViews
    </ifmodule>
     
    RewriteEngine On

    # RewriteCond %{HTTP:Authorization} .
    # RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
     
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]
 
    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1 
 
    # Handle Authorization Header 
    RewriteCond %{HTTP:Authorization} . 
    RewriteRule . - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle Payment Webhook Update Header 
    RewriteCond %{HTTP:X_NOWPAYMENTS_SIG} . 
    RewriteRule . - [E=HTTP_X_NOWPAYMENTS_SIG:%{HTTP:X_NOWPAYMENTS_SIG}]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php
 
</ifmodule>